GROQ_API_KEY=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
GROQ_QUESTION_MODEL=groq-m3-large
GROQ_SCORE_MODEL=groq-m3-large
GROQ_FEEDBACK_MODEL=groq-m3-large
GROQ_API_URL=https://api.groq.com/v1
AI_SERVICE_HOST=127.0.0.1
AI_SERVICE_PORT=8000